mixin search(keyword)
  form(id ="form-search")
    div(class = "input-group")
      input(class = "form-control" type = "text" placeholder = "Nhập từ khóa" name = "keyword" value = keyword)
      div(class = "input-group-append")
        button(type = "submit" class ="btn btn-success") Tìm